#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button-list {
  margin-left: auto;
  margin-right: auto;
}

.button-list a{
  height: 100px;
  width: 500px;
  background-color: lightblue;
  display: flex;           /* align image and text in a row */
  align-items: center;     /* vertically center them */
  padding: 0.5rem;
  border: 1px solid black;
  overflow: hidden;        /* clip anything that exceeds the box */
  box-sizing: border-box;  /* include padding/border in max size */
  gap: 0.5rem;             /* spacing between image and text */
}
.button-list img{
  max-height: 95%;   
  object-fit: contain;
}

.button-list span{
  font-size: 30px;
  margin: 0;
  word-wrap: break-word; 
}