#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;           
  height: 320px;         
  overflow-y: auto;       
  scrollbar-width: thin;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}


.button-list img{
  max-height: 95%;   
  object-fit: contain;
}

.button-list span{
  font-size: 30px;
  margin: 0;
  word-wrap: break-word; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:#000559;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.button {
  height: 100px;
  width: 500px;
  background-color: lightblue;
  display: flex;         
  align-items: center;     
  padding: 0.5rem;
  border: 1px solid black;
  overflow: hidden;       
  box-sizing: border-box;  
  gap: 0.5rem;  
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  flex-shrink: 0;
}

.button:hover {
  color: #000bd5;
  background-color: #535bf2; 
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
